{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>
            {% block title %}
                {% page_attribute "page_title" %} - {{ request.site.name }}
            {% endblock title %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% page_attribute 'meta_description' %}">
        <meta name="author" content="">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- django CMS -->
        {% render_block "css" %}

        <!-- Divio Cloud -->
        {{ ALDRYN_SNAKE.render_head }}
        
        <!-- Bootstrap Core CSS -->   
<link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">   

<!-- Theme CSS -->   
<link href="../static/css/clean-blog.min.css" rel="stylesheet"> 

<!-- Custom Fonts -->   
<link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        </head>
        <body align="center">
            <a class="navbar-brand" href="/">{{ request.site.name }}</a>
            <!-- django CMS Toolbar -->
            {% cms_toolbar %}
            <div class="collapse navbar-collapse"id="bs-example-navbar-collapse-1"> 
    <ul class="nav navbar-nav navbar-right">
        {% show_menu 0 0 100 100 %}
    </ul>
</div>
            <!-- Navigation -->
            {% block header %}
    {% placeholder header or %} 
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../static/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{% page_attribute "page_title" %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endplaceholder %}
{% endblock %}
            
                <div class="container" align="center">
                            {% block content %}{% endblock %}
                </div>
            
            <p class="copyright text-muted" align="center">Copyright &copy; {{ request.site.name }} {% now "Y" %}</p>
        <!-- Theme JavaScript -->
        <script src="../static/js/clean-blog.min.js"></script>

        <!-- django CMS -->
        {% render_block "js" %}

        <!-- Divio Cloud -->
        {{ ALDRYN_SNAKE.render_tail }}

        <!-- jQuery -->
<script src="../static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="../static/js/jqBootstrapValidation.js"></script>
<script src="../static/js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="../static/js/clean-blog.min.js"></script>
    </body>
</html>
