{% load cms_tags menu_tags sekizai_tags thumbnail %}
<!DOCTYPE html>
<!--
TEMPLATE
Name: Zoo Planet
Version: 1.0
Created: 23 January 2014

AUTHOR
Design and code by: http://www.bootshape.com
Free stock photos by: http://www.bootshape.com

Read full license: http://www.bootshape.com/license.php

CREDITS
Background: http://subtlepatterns.com/ (extra_clean_paper)
Fonts: http://www.google.com/fonts (Actor, Duru_Sans)

SUPPORT
E-mail: bootshape.com@gmail.com
Contact: http://www.bootshape.com/contact.php
-->
<html>
  <head>
    <title>BIJB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
        <style type="text/css">
            .nav {
                padding-left: 0;
            }
            .nav li {
                display: inline;
                list-style-type: none;
                padding-right: 20px;
            }
            .container {
                width: 940px;
                margin: 0 auto
            }
            .content {
                float: left;
                width: 80%;
            }
            .sidebar {
                float: left;
                width: 20%;
            }
        </style>
        {% render_block "css" %}

  </head>
  <body>

        {% cms_toolbar %}
    <!-- Navigation bar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav">
                {% show_menu 0 1 100 100 "menu.html" %}
            </ul>
            {% block content %}{% endblock content %}
        </div>
    <!-- Slide gallery -->
    <div class="jumbotron">
      <div class="container">
        {% load thumbnail %}

      </div><!-- End Slide gallery -->
    </div>
    <!-- Content -->

    <div class="container"<div class="slider"><div class="boxpengumuman"><div class="img-news3" align="center">{% load thumbnail %}<img src="https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-300x179.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-300x179.jpg 300w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-768x459.jpg 768w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-705x422.jpg 705w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-450x269.jpg 450w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy.jpg 1000w" sizes="(max-width: 100px) 30vw, 100px" width="170" height="150">&nbsp;&nbsp;<img src="https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-300x179.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-300x179.jpg 300w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-768x459.jpg 768w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-705x422.jpg 705w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-450x269.jpg 450w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy.jpg 1000w" sizes="(max-width: 100px) 30vw, 100px" width="170" height="150">&nbsp;&nbsp;<img src="https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-300x179.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-300x179.jpg 300w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-768x459.jpg 768w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-705x422.jpg 705w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-450x269.jpg 450w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy.jpg 1000w" sizes="(max-width: 100px) 30vw, 100px" width="170" height="150"></div>
    </div>
        <div class="img-news3" align="center"><img src="https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-300x179.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-300x179.jpg 300w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-768x459.jpg 768w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-705x422.jpg 705w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy-450x269.jpg 450w, https://bijb.co.id/wp-content/uploads/2018/03/IMG_2096-copy.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" width="400" height="300"></div>

        <div class="clear"></div>                         
                      
   </div>              
    </div><!-- End Content -->
    <!-- Footer -->
    <footer>
    <div class="footer text-center" align="center">
        <p>&copy; 2018 BIJB. All Rights Reserved.</a></p>
    </div><!-- End Footer -->
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootshape.js"></script>
  </body>
</html>
