{% load staticfiles %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
        {% if user.is_authenticated %}
       <a class="navbar-brand" href="/">Hallo,{{ user.username }}</a>
       {% else %}
       <a class="navbar-brand" href="/">Hallo,Guest</a>
       {% endif %}
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
        <li><a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-paperclip"></span></a></li>
        <li><a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a></li>
        {% else %}
        <li><a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>
    <div class="page-header"><center>
    <h1><a href="/">Example</a></h1>
    </center>
</div>
    <div class="content container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="page-footer">
    <footer><center><a href="/" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
<p><span class="glyphicon glyphicon-bullhorn"></span><marquee>Copyright &copy;{% now "Y" %} <strong>NetAlD</strong>. All Rights Reserved.</marquee></p></center></footer>
</div>
</body>