{% extends 'blog/base.html' %}

{% block content %}
    <h1>News</h1>
    <form method="POST" action="" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>
{% endblock %}