{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% else %}
        <div class="alert alert-danger alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Perhatian!</strong> Untuk Menambah Post Harap Log-In.
        </div>
         {% endif %}
        <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 100%">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for post in posts %}
            {% if forloop.counter == 1 %}
            <div class="item active">
            {% else %}
            <div class="item">
            {% endif %}
                <img src="{{ post.image.url }}" alt="Image" width=40% height="300">
        <div class="carousel-caption">
            <h3>{{ post.title }}</h3>
        </div>
            </div>
            {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br>
        <table style="width: 100%">
            <div class="post">
            {% for post in posts %}
            {% if forloop.counter == 1 %}
        <tr>
        <td width="25%" >
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p split=".">{{ post.text|linebreaksbr|truncatewords:20 }}</p>
        </td>
        {% elif forloop.counter == 2 %}
        <td width="25%">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p split=".">{{ post.text|linebreaksbr|truncatewords:20 }}</p>
        </td>
        {% elif forloop.counter == 3 %}
        <td width="25%">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p split=".">{{ post.text|linebreaksbr|truncatewords:20 }}</p>
        </td>
        {% else %}
        <td width="25%">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p split=".">{{ post.text|linebreaksbr|truncatewords:20 }}</p>
        </td>
        </tr>
        </div>
        {% endif %}
        {% endfor %}
        </table>
        <br>
        <div class="col-md-8">
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    {{ post.published_date }}
                </div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                {% if post.image %}
                <img src="{{ post.image.url }}" class="img-responsive" height="200" width="400" />
                {% endif %}
                <p split=".">{{ post.text|linebreaksbr|truncatewords:30 }}</p>
                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}